:root {
    --neutral-background: #FFFFFF;
    --primary-accent: #3F51B5;
    --secondary-accent: #FF4081;
    --complementary: #FFD740;
    --text-and-icon: #333333;
    --divider-and-border: #E0E0E0;
}

.navbar {
    background-color: var(--primary-accent);
}

.navbar-brand {
    color: var(--neutral-background);
}

.navbar-brand:hover {
    color: var(--neutral-background);
}

.navbar-toggler {
    background-color: var(--neutral-background);
    border: 1px solid var(--divider-and-border);
}

.nav-link:hover {
    background-color: var(--complementary);
    color: var(--text-and-icon);
}

.btn-primary {
    background-color: var(--primary-accent);
    color: var(--neutral-background);
    opacity: 1;
    border: none;
}

.btn-primary:hover {
    background-color: var(--primary-accent);
    color: var(--neutral-background);
    opacity: 0.8;
}

.btn-secondary {
    background-color: var(--complementary);
    color: var(--text-and-icon);
    opacity: 1;
    border: none;
}

.btn-secondary:hover {
    background-color: var(--complementary);
    color: var(--text-and-icon);
    opacity: 0.8;
}

.btn-icon {
    border: none;
    border-radius: 25%;
}

.btn-icon-danger {
    background-color: var(--neutral-background);
}

.btn-icon-danger:hover {
    color: var(--neutral-background);
    background-color: var(--secondary-accent);
}

.table {
    width: 80%;
    margin: 0 auto 0 auto;
}

.table thead {
    background-color: var(--text-and-icon);
    color: var(--neutral-background);
}

.action-table thead tr:first-child {
    background-color: white;
}

.create-new {
    height: 75px;
    width: 150px;
}

.icon {
    height: 25px;
    width: 25px;
}

.icon:hover {
    cursor: pointer;
}

.list-group-item {
    font-size: 25px;
    font-weight: bold;
    border: none;
}